@page
@model IndexModel
@{
  ViewData["Title"] = Model.PageData.Data.Fields.Seo.Title;
  ViewData["Description"] = Model.PageData.Data.Fields.Seo.Description;
  ViewData["Author"] = Model.PageData.Data.Fields.Seo.Author;
}
<section> 
  <h1>@Model.PageData.Data.Fields.Header.Headline</h1>
  <p>@Model.PageData.Data.Fields.Header.Sub</p>
  <form method="get" action="/Search"> 
    <input id="search" name="q" type="text" placeholder="Search for answers..." />
    <input type="submit" value="Search" />
  </form>
</section>
</div>
</header>
<main>
  <section id="one"> 
    <div class="bodify"> 
      <h2 class="accent">Browse All Topics</h2>
      <div class="features"> 
        @foreach (var TopicCard in Model.PageData.Data.Fields.Topics.Cards) {
          <div class="item">
            <div class="image-container"> 
              <img src="@TopicCard.Image" alt="card" />
            </div>
            <h3>@TopicCard.Headline</h3>
            <p>@TopicCard.Sub</p>
          </div>
        }
      </div>
    </div>
  </section>
  <section id="two"> 
    <div class="bodify">
      <h2>Featured Article</h2>
      <article> 
        @foreach (var Feature in Model.PageData.Data.Fields.Featured) {
          <a class="list" href="/@Feature.Link">
            <span>@Feature.Title</span>
            <div> 
              <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m702-301-43-42 106-106H120v-60h646L660-615l42-42 178 178-178 178Z"/></svg>
            </div>
          </a>
        }
      </article>
      <hr />
    </div>
  </section>
  <section id="three"> 
    <div class="bodify"> 
      <h2>Didn't find an answer to your question?</h2>
      <p>Get in touch with us for details on additional services and custom work pricing</p>
      <button> contact us </button>
    </div>
  </section>
</main>